html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.dois {
  position:absolute;
  left: 202px;
  width: 98px;
}
.tres {
  position:absolute;
  display: inline-block;
  left: 300px;
}